# Flutter
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
*.lock
!pubspec.lock

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/key.jks
**/google-services.json

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Generated
.dart_tool/

# Misc
*.log
.DS_Store
